<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs496_tabbed">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Color0">
        <activity android:name=".TicTacToe.GameActivity" />
        <activity android:name=".TicTacToe.GameMainActivity" />
        <activity android:name=".musicplayer.MusicMainActivity" />
        <activity android:name=".musicplayer.MusicActivity"/>
        <activity android:name=".ThemeActivity" />
        <activity android:name=".LanguageActivity" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".GamesActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mathquiz.NormalQuizActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mathquiz.NoTimeQuizActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mathquiz.Options"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mathquiz.ResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
    </application>

</manifest>